@import "./Variables.scss";

@import "./Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "./Mixins.scss";
body {
  font-family: "Avenir";
}
.headerNav {
  color: white;
  padding: 0rem 1rem;
}
.headerComponent {
  background-color: white;
  color: rgb(26, 25, 25);
  // padding-left: 3rem !important;
  // padding-right: 3rem ;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  font-family: "Avenir";
  height: 2rem;
}
.headerComponent > .ant-layout-header {
  background-color: white !important;
  line-height: 45px !important;
  padding: 0 !important;
}
.ant-layout-header {
  line-height: 20px !important;
  padding: 1rem !important;
}
.ant-layout-header .ant-input-group .ant-input {
  height: 2.5rem;
  width: 500px;
}
.ant-layout-header .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
  height: 2.5rem;
  background-color: rgb(250, 250, 34) !important;
  color: black !important;
  border: 1px solid yellow !important;
}
.ant-menu-horizontal > .ant-menu-item::after {
  bottom: 25px !important;
}
.headerSearchInput {
  display: none;
}
.site-layout-content {
  min-height: 530px !important;
  padding: 1rem !important;
}
.advertiesment-caresol {
  max-width: 100%;
}
.advertiesment-caresol .ant-image-img {
  display: block !important;
  padding: 0.5rem !important;
  height: 15rem !important;
  border-radius: 10px !important;
}
.advertiesmentTypography {
  padding-left: 1rem;
  padding-right: 2rem;
}
.slick-next:before {
  font-size: 30px !important;
  color: black !important;
  transform: translateX(+50%) !important;
  overflow-x: auto !important;
}
.slick-prev:before {
  font-size: 30px !important;
  color: black !important;
  transform: translateX(-50%) !important;
  overflow-x: auto !important;
}
.facebook-btn {
  box-shadow: none !important;
  display: flex;
  align-items: center;
  border: none !important;
  width: 100% !important;
}

.facebook-btn:focus {
  box-shadow: none !important;

  border: none !important;
  border-color: transparent;
  outline: none !important;
}
.facebook-btn span,
.google-btn span {
  margin: 0px !important;
}
.facebook-btn svg,
.google-btn svg {
  margin: 0px !important;
}
.google-btn {
  background: #e65a4d !important;
  width: 100%;
  height: 42px;
  display: flex;
  color: #fff !important;
  justify-content: center;
}

.google-btn:focus,
.google-btn:active {
  outline: none;
}

.facebook-btn {
  background: #375aa8;
  width: 100% !important;
  height: 42px;
  display: flex;
  color: #fff;
  justify-content: center;
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
  margin-right: 8px !important;
}

.btnFacebook {
  width: 100%;
  height: 35px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  margin: 5px;
  display: inline-block;
}
.btnGoogle {
  margin: 5px;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  background: #db3236;
  color: white;
  border: 0px transparent;
  text-align: center;
}
.btnFacebook:hover {
  background: #3b5998;
  opacity: 0.6;
}
.btnGoogle:hover {
  background: #db3236;
  opacity: 0.6;
}
.login__form {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 5px;
  border: 2px solid rgb(211, 210, 210);
  font-family: "Avenir" !important;
}
.signup_containt {
  margin-top: 0.5rem;
  // background: #fff;
  padding: 1rem 1.5rem 0 1.5rem;
  border-radius: 5px;
  border: 2px solid rgb(194, 194, 194);
}
.gradient-card {
  background-image: linear-gradient(
    to left top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1,
    #40b566
  ) !important;
}
@media (max-width: 768px) {
  .login__form {
    margin-top: 0.5rem;
  }
  .signup_containt {
    padding: 1rem 0.5rem 0 0.5rem;
    margin-top: 0rem;
  }
  .ant-layout-header .ant-input-group .ant-input {
    width: 100% !important;
  }
  .navSignUpLogin {
    display: none;
  }
  .headerSearchInput {
    display: flex;
  }
  .headerSearchLarge {
    display: none;
  }
  .slick-next:before {
    font-size: 10px !important;
    color: black !important;
  }
  .slick-prev:before {
    font-size: 10px !important;
    color: black !important;
  }
}
@media (max-width: 900px) {
  .navSignUpLogin {
    display: none;
  }
  .headerSearchInput {
    display: flex;
  }
  .headerSearchLarge {
    display: none !important;
  }
  .ant-layout-header {
    height: 3rem !important;
  }
  .slick-next:before {
    font-size: 10px !important;
    color: black !important;
  }
  .slick-prev:before {
    font-size: 10px !important;
    color: black !important;
  }
}
