@mixin display-flex($direction, $justify, $align) {
  display: flex !important;
  flex-direction: $direction !important;
  justify-content: $justify !important;
  align-items: $align !important;
}
body{
  font-family: 'Avenir';
}